[submodule "backend/contracts/lib/forge-std"]
	path = backend/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backend/contracts/lib/coprocessor-base-contract"]
	path = backend/contracts/lib/coprocessor-base-contract
	url = https://github.com/Mugen-Builders/coprocessor-base-contract
